a.CGT{
  font-size: 32px
}
a.OFN{
  font-size: 20px;
}
div.CAT{
  font-size: 20px;
}
a.CON{
  font-size: 20px;
}

img.cartPng{
  width: 4%;
  position: relative;
  left: -40px;
}

img.accountPng{
  width: 4%;
  position: relative;
  left: -17px;
}