li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

h1.nav {
  font-size: 32px;
  position: relative;
  left: 78px;
}

ul.nav {
  list-style-type: none;
  position: absolute;
  top: 12px;
  left: 380px;
}

img.cartPng{
  width: 2%;
  position: absolute;
  top: 29px;
  left: 1020px;
}

img.accountPng{
  width: 2%;
  position: absolute;
  top: 29px;
  left: 1078px;
}