div.itemBox {
        background-color: rgb(240, 166, 18);
        height: 200px;
        width: 400px;
        position: relative;
        top: 312px;
        left: 465px;
}
label.labelCount {
    font-size: 67px;
    position: absolute;
    left: 166px;
    top: 5px;
    color: white;
    text-shadow: 0 0 10px black;
}
button.itemmas {
    height: 19%;
    width: 10%;
    position: relative;
    top: 100px;
    left: 257px;
}
button.itemmenos {
    height: 19%;
    width: 10%;
    position: relative;
    top: 100px;
    left: 35px;
}
button.itemRestart {
    height: 19%;
    width: 34%;
    position: relative;
    top: 100px;
    left: 38px;
}
button.agregarCarr {
    height: 20%;
    width: 69%;
    position: relative;
    top: 110px;
    left: 50px;
}